<html> 
    <body>
<h5> welcome to K.pradeep page.......</h5>
  <p> hello .....</p>

<h1> whats your interests, please share it...</h1>

<form method= "POST" action="/posts">
  <input type = "string" name="posts" placeholder="share your interests" >
  <button type ="submit"> share </button>
</form>

  <h2> give comments and likes</h2>
    
  


  <form method= "POST" action= "/comments" >
    <input type= "string" name="Comments" >
    <button type ="submit"> Comments </button> 
    </button></form> 
   
  </body> </html>
  
  