<html>
<head>
<style>
  .login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  background-color:red
}
.form {
  position: relative;
  z-index: 1;
  background: yellowgreen;
  max-width: 260px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #b87878;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form register-form{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #b87878;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;

}
</style></head>
<body>

  <div class="login-page">
      <div class="form">
         
   <form class="register-form" method="POST" action="/login">
    
    <label for="email"><b>email id</b></label>
    <input type="email" placeholder="Enter Username" name="email" required>
    <br>


    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
<br>
    <button type="submit">Login </button> 
 <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    <button type="button" class="cancelbtn">cancel</button> <br>
    
    <span class="password"> <a href="#"> forgot password?</a></span>
  </div> </div> </form> 
  </body>
</html>

